<%#= render 'layouts/main' %>
<div class="container" style="font-family: Verdana, Geneva, sans-serif;">
  <h1>Here are all our products:</h1>

  <div class="row">
    <%= render 'productloop' %>
  </div>

</div>