<div class="jumbotron">
  <div style="background-image: url('https://cdn.pixabay.com/photo/2016/09/16/19/19/online-store-1674907_960_720.png');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              margin-top: -70px;
              margin-bottom: -70px;
              padding: 30%;">
    <h1 class="text-center" style="font-family: Verdana, Geneva, sans-serif;">Welcome to the YP Store!</h1>
  </div>
</div>